<h1>Poll</h1>
<h2 class="subtle">Voting done simply in real-time</h2>

<div ng-controller="QuestionController">
  <%= form_for(@question, html: { name: "newQuestionForm" }) do |f| %>
    <div class="field">
      <%= f.text_field :title, class: "large", autocomplete: "off", placeholder: "Add your question here", ng_model: "question" %>
    </div>

    <h3>Add your options below:</h3>

    <div class="field" ng-repeat="option in options track by $index">
      <%= text_field_tag "options[][title]", @option.title, autocomplete: "off", placeholder: "Option {{$index+1}}", ng_model: "options[$index]", ng_blur: "optionBlur($index, option)" %>
    </div>


    <small ng-hide="optionsShown">
      <a href="#" ng-click="optionsShown = true" >Options</a>
      <br>
    </small>


    <div id="options" ng-show="optionsShown">
      <hr>
      <%= text_field_tag "question[secret]", "", autocomplete: "off", placeholder: "Optional custom URL", class: "input--small", maxlength: 16, ng_model: "secret", unique_secret: "{{ secret }}" %>
      <p ng-show="newQuestionForm.$invalid"><small>Sorry! This URL is taken.</small></p>
    </div>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <br>

    <div class="actions">
      <%= f.submit "Start", disabled: "disabled", ng_disabled: "formDisabled()" %>
    </div>

    <br><small class="subtle">or</small><br>
    <% if Rails.env ==  "production" %>
      <small>View an example <a href="/ukb2NQtysb6QUEw4HFF_NQ">Question</a> and <a href="/ukb2NQtysb6QUEw4HFF_NQ/results">Results</a></small>
    <% else %>
      <small>View an example <a href="/8uRC7FnV-7zOVyvxkgSO7Q">Question</a> and <a href="/8uRC7FnV-7zOVyvxkgSO7Q/results">Results</a></small>
    <% end %>
  <% end %>
</div>
