<div ng-controller="QuestionController" ng-init="setOption('<%= @vote.option_id %>')">

  <h1><%= @question.title %></h1>


  <% if @question.scheme == "web" %>
    <%= form_tag "/votes", method: :put do |f| %>
      <%= hidden_field(:vote, :question_id, value: @question.secret) %>

      <fieldset>
        <% @question.options.each do |option| %>
          <div class="field">
            <%= label_tag "vote_option_id_#{option.id}", class: "radio" do %>
              <%= radio_button("vote", "option_id", option.id, class: "visually-hidden", ng_model: "option") %><!--
              --><span class="outer"><span class="inner"></span></span><%= option.title %><!--
            --><% end %>
          </div>
        <% end %>
      </fieldset>
    <% end %>
  <% else %>
    <h2>To vote txt one of the following to<br> 01765 522 055</h2>
    <hr>
    <% @question.options.each do |option| %>
      <h2><%= option.title %> - <code><%= option.secret %></code></h2>
    <% end %>
    <hr>
  <% end %>

  <p><a href="/<%= @question.secret %>/results">Go to results</a></p>

</div>
