<!DOCTYPE html>
<html
  ng-app="Poll"
  data-pusher-key="<%= ENV['PUSHER_KEY'] %>"
  data-pusher-host="<%= ENV['PUSHER_CLIENT_HOST'] %>"
  data-pusher-port="<%= ENV['PUSHER_CLIENT_PORT'] %>"
  data-pusher-port-ssl="<%= ENV['PUSHER_CLIENT_PORT_SSL'] %>"
>
<head>
  <title>Poll - Voting done simply in real-times</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#c44240">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
</head>
<body data-no-turbolink>
  <div class="wrapper">
    <%= yield %>
    <br>
    <div class="push"></div>
  </div>
  <div class="footer">
    <p>Poll is a <a href="https://github.com/adambutler/poll" target="_blank">open-sourced project</a> by <a href="http://github.com/adambutler" target="_blank">Adam Butler</a> - Powered by <a href="http://pusher.com" target="_blank">Pusher</a><br>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55433223-1', 'auto');
    ga('send', 'pageview');

  </script>

</body>
</html>
